<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.asus.robotframework.permission.ROBOT" />
    <uses-permission android:name="com.asus.robotframework.permission.MOTION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zenbo" >
        <activity
            android:name=".RobotActivity"
            android:exported="true" />

        <meta-data
            android:name="zenbo_ds_domainuuid"
            android:value="82F199B9E7774C688114A72457E3C223" />
        <meta-data
            android:name="zenbo_ds_version_82F199B9E7774C688114A72457E3C223"
            android:value="0.0.1" />

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.asus.intent.category.ZENBO" />
                <category android:name="com.asus.intent.category.ZENBO_LAUNCHER" />

                <data android:name="com.asus.intent.data.MIN_ROBOT_API_LEVEL.1" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>